{% if page.sidebar %}
  <div class="sidebar sticky">
    {% assign sidebar_data = site.sidebars[page.sidebar] %}
    {% if sidebar_data %}
      <ul>
        {% for item in sidebar_data %}
          <li>
            <h3>{{ item.title }}</h3>
            <ul>
              {% for child in item.children %}
                <li><a href="{{ child.url }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endif %}
