---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

nav[role="navigation"] {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; // Zabezpečí, že menu bude nad ostatným obsahom
  background-color: white; // Nastav farbu pozadia podľa potreby
}

/* Nastavenie konzistentnej veľkosti pre hlavné menu */
nav.nav-main {
  font-size: 16px; /* Príklad nastavenia veľkosti písma */
  line-height: 1.5; /* Nastavenie výšky riadkov pre lepšiu čitateľnosť */
}

/* Nastavenie konzistentnej veľkosti pre bočné menu (sidemenu) */
.sidebar {
  font-size: 16px; /* Rovnaká veľkosť ako hlavné menu */
}

.sidebar ul li {
  padding: 10px 0; /* Pridanie medzery medzi položkami */
}

/* Ak máte špecifickú triedu pre bočné menu, prispôsobte veľkosť tam */
.sidebar__nav {
  font-size: 16px;
}

/* Voliteľné: Ak chcete upraviť šírku bočného menu */
.sidebar {
  width: 250px; /* Nastavenie šírky */
}

